@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800;900&display=swap');

$pe-color: #B6008E;
$pe-color2: #B06A00;
$pe-color3: #ff9d09;

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 100vw;
  overflow: hidden;
}

.box {
  background-color: #007FFF;
}

.section {
  height: 100vh;
  width: 100vw;
}

.landing {
  position: relative;
  background: url("https://uploads-ssl.webflow.com/5e81601cdc54455a23f68b7e/5e8c8dcd5651028de718da5e_nicola-david-raspa-3TyYUif0DH4-unsplash.jpg");
  background-size: cover;
  background-position: 0 80%;
}

.landing .logo {
  padding: 1vw;
  width: 1vw;
  height: 1vw;
}

.landing .hero {
  position: absolute;
  top: 30%;
  left: 15%;
  line-height: 1.2em;
  font-weight: 800;
  font-size: 4vw;
  color: white;
}

.landing .footer {
  position: absolute;
  bottom: -10%;
  left: -2%;
  width: 100%;
  height: 15vh;
  background-color: white;
  transform: rotate(5deg);
  box-shadow: 0px -3px 15px #fff;
}

.who-we-are {
  position: relative;
  height: 60vh;
}

.who-we-are .heading {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: -webkit-linear-gradient(0deg, #048200 0%, #e2c400 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.who-we-are .content p {
  color: #333;
  font-size: 1.5em;
  margin: 0 20%;
  text-align: center;
  line-height: 1.5em;
}

.who-we-are .lead {
  width: 2px;
  height: 20vh;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: -webkit-linear-gradient(-90deg, white 0%, $pe-color 100%);
}

.personalized-exp {
  position: relative;
  height: 80vh;
}

.personalized-exp .heading {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  padding-top: 7%;
  margin-bottom: 5%;
  color: rgba(19, 19, 19, 0.69);
}

.personalized-exp .content p {
  font-size: 1.5em;
  margin: 0 20%;
  text-align: center;
  line-height: 1.5em;
  color: white;
}

.personalized-exp .background {
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 200%;
  height: 100%;
  background: -webkit-linear-gradient(130deg, $pe-color2 0%, $pe-color 100%);
  transform: rotate(2deg);
  z-index: -1;
}

.quality {
  position: relative;
  height: 70vh;
}

.quality .heading {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  padding-top: -5%;
  padding-bottom: 5%;
  color: rgba(19, 19, 19, 0.69);
}

.quality .content p {
  color: #333;
  font-size: 1.5em;
  margin: 0 20%;
  text-align: center;
  line-height: 1.5em;
  color: white;
}

.quality .background {
  position: absolute;
  bottom: 30%;
  left: -100px;
  width: 200%;
  height: 80%;
  background: -webkit-linear-gradient(130deg, $pe-color3 0%, $pe-color 100%);
  transform: rotate(-2deg);
  z-index: -1;
}

.quality .background2 {
  position: absolute;
  bottom: 32%;
  left: -100px;
  width: 200%;
  height: 80%;
  background: -webkit-linear-gradient(130deg, $pe-color 0%, $pe-color3 100%);
  transform: rotate(2deg);
  z-index: -1;
}

.contact {
  position: relative;
  height: 100vh;
}

.contact .heading {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 72px;
  background: -webkit-linear-gradient(0deg, #048200 0%, #e2c400 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .content {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.contact .content .desc {
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}

.contact .content .field {
  width: 100%;
}

.contact .content .field input[type=text],textarea {
  width: 100%;
  margin: 12px 0 32px;
  font-size: 1.2em;
  border: 0;
  border-bottom: #333333 solid 1px;
  resize: none;
  padding: 5px;
}

.contact .content .field label {
  font-size: 1em;
  font-weight: bold;
}

.btnSubmit {
  width: 100%;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:19px;
  font-weight:bold;
  padding: 12px 0;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.btnSubmit:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
}
.btnSubmit:active {
  position:relative;
  top:1px;
}

.footer {
  width: 100%;
  height: 10vh;
  margin-top: 5%;
  padding: 20px;
  background-color: #ddd;
}

.footer p {
  color: #666;
}
