
$pe-color: #B6008E;
$pe-color2: #B06A00;
$pe-color3: #ff9d09;

@media (max-width: 425px) {
  .landing .logo {
    padding: 2vw;
    width: 0.7vw;
    height: 0.7vw;
  }

  .landing .hero {
    position: absolute;
    top: 30%;
    left: 10%;
    line-height: 1.2em;
    font-weight: 800;
    font-size: 8vw;
    color: white;
  }

  .who-we-are .heading {
    font-size: 2.7em;
    margin-bottom: 8%;
  }

  .who-we-are .content p {
    margin: 0 5%;
  }

  .who-we-are .lead {
    height: 10vh;
  }

  .personalized-exp .heading {
    font-size: 3em;
    padding-top: 17%;
    margin-bottom: 10%;
  }

  .personalized-exp .content p {
    margin: 0 5%;
  }

  .quality .heading {
    font-size: 3em;
    padding-top: 0;
    margin-bottom: 3%;
  }

  .quality .content p {
    margin: 0 5%;
  }

  .contact {
    position: relative;
    height: 100vh;
    margin-top: -15%;
  }

  .contact .heading {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 72px;
    background: -webkit-linear-gradient(0deg, #048200 0%, #e2c400 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contact .content {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
  }

  .contact .content .desc {
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 500;
  }

  .contact .content .field {
    width: 100%;
  }

  .contact .content .field input[type=text],textarea {
    width: 100%;
    margin: 12px 0 32px;
    font-size: 1.2em;
    border: 0;
    border-bottom: #333333 solid 1px;
    resize: none;
    padding: 5px;
  }

  .contact .content .field label {
    font-size: 1em;
    font-weight: bold;
  }

  .btnSubmit {
    width: 100%;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:13px 25%;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  .btnSubmit:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
  }
  .btnSubmit:active {
    position:relative;
    top:1px;
  }

}
